.info-message {
    padding: 5px 10px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    font-style: italic;
    text-align: center;
    position: absolute;
    top: 33px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.search-result-list {
    padding: 0px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    top: 33px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.search-result-item {
    cursor: pointer;
    padding: 5px 10px;
    margin: 0px;

    &:hover, &.hovered {
        background-color: #f6f6f6;
    }
}